# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build files
dist/
dist-ssr/
coverage/

# Logs
logs/
*.log

# IDE files
.vscode/*
!.vscode/extensions.json
.idea/

# OS files
.DS_Store

# Temporary Git backups
**/.git-backup/

# Archives
*.zip

# Old Git repository backup
**/.git-old/
